@using Models.Models;
@model List<Category>


@*<script src="~/js/site.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/lib/jquery/dist/jquery.min.js"></script>*@


@if (!string.IsNullOrWhiteSpace(ViewBag.Error))
{
	<!-- Button trigger modal -->
	<!-- Modal -->
	<div id="myModalLabel" class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div  class="modal-header">
        <h5 class="modal-title">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>could not Delete this item.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary"id="close" onclick="x" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

}

<div class="container">
	
	<div class="row pt-4 pb-3">
		<div class="col-6">
			<h2>Category list</h2>
		</div>
		<div class="col-6 text-end">
			<a asp-action="Create" class="btn btn-primary">
				Create new category
			</a>

		</div>
	</div>

	

	<table class="table table-bordered table-dark">
		<thead>
			<tr>
				<th>
					Category
				</th>
				<th>
					display orders
				</th>
				<th> 
				</th>
			</tr>
		</thead>
		<tbody>
			@foreach (var obj in Model)
			{
				<tr>
					<td>@obj.Id</td>
					<td>@obj.Name</td>
					<td>
						<div class="w-75 btn-group" role="group">
							<a asp-controller="Category" asp-action="Edit" asp-route-Id="@obj.Id" class="btn btn-light mx-2">
								<i class="bi bi-pencil-square"></i>Edit
							</a>
							<a asp-controller="Category" asp-action="Delete" asp-route-Id="@obj.Id" class="btn btn-danger px-2.2">
								Delete
							</a>
						</div>



					</td>
				</tr>
			}
		</tbody>

	</table>

@section Scripts {

			<script>
			$(function(){
				$("#myModalLabel").modal("show");
			});
			$("#close").click(function () {
				$("#myModalLabel").modal("hide");
			});
			</script>

}
